.task__wrapper {
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  min-height: 500px;
}

.task__title {
  margin: 0;
  border: none;
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}
.task__description {
  border: none;
  width: 100%;
  font-size: 16px;
}
.task__chancellink {
  position: absolute;
  top: 20px;
  right: 20px;
}
.task__img {
  display: block;
  width: 20px;
  height: 20px;
}
